.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

body {
    background-color: #e88f2a;
  }
  
  h1 {
    color: #2B2825;;
    text-align: ;
  }

  h2 {
    color: #2B2825;
    text-align: ;
  }
.contact {
    background: linear-gradient(rgba(43, 40, 37, .5), rgba(43, 40, 37, .5));
    background-size: cover;
    color: #2B2825;

  }

/* default(smartphone) */
header > img {
  border-radius: 60%;
  width: 200px;

}

/* tablet*/

@media (min-width: 576px){
  header > img {

  }
}

/* pc*/

@media (min-width: 992px){
  header > img {

  }
}


