body {
    background-color: rgb(181, 192, 223);
  }
  
  h1 {
    color: rgb(231, 15, 98);
    text-align: ;
  }

  h2 {
    color: rgb(231, 15, 98);
    text-align: ;
  }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav li {
    float: left;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background-color: #111;
  }
  